.Forecast {
    text-align: center;
    color: #233142;
    font-size: 16px;
    margin-top: 30px;
}

.Forecast .Forecast-day {
    font-size: 22px;
}
.Forecast .Forecast-min {
    opacity: .7;
    margin-left: 5px;
}