.Weather {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Weather .card{
    background-color: #e0ebeb;
    padding: 5px;
    margin: 5px auto;
    max-width: 600px;
    border: 2px solid #a7bcb9;
    border-radius: 10px;
}

.Weather .form-control, .btn {
    border: 2px solid #a7bcb9;
    margin-top: 0;
    padding: 10px;
    color: #a7bcb9;
}
.Weather .btn {
    background: #fff;
}
.Weather .btn:hover {
    background:#5dacbd;
    color:#e0ebeb;
    border: 2px solid #fff
}

.Weather ul {
    margin: 0;
    padding: 0;
}
