.WeatherData h3 {
    color:#24527a;
    margin: 15px 0 0 0;
}
.WeatherData li {
    list-style: none;
    color: #5dacbd;
    margin: 0;
    padding: 0;
}
.WeatherData .temperature {
    color: #5dacbd;
    font-weight: 600px;
    font-size: 64px;
    margin-left: 15px;
    line-height: 64px;
}
.WeatherData canvas {
    margin: 10px auto;
}
.WeatherData .unit {
    position: relative;
    font-size: 16px;
}