.WeatherData h1 {
    color:#24527a;
    margin: 15px 0 0 0;
}
.WeatherData li {
    font-size: 22px;
    list-style: none;
    color: #5dacbd;
    margin: 0;
    padding: 0;
}
.WeatherData .temperature {
    color: #5dacbd;
    font-weight: 600px;
    font-size: 64px;
    margin-top: 20px;
    margin-left: 15px;
    line-height: 64px;
}
.WeatherData canvas {
    margin: 20px auto;
}
.WeatherData .units {
    font-size: 18px;
    position: relative;
    top: -34px;
    margin-left: 1px;
}
